---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import Linkedin from '../components/icons/Linkedin.astro';
import Github from '../components/icons/Github.astro';
import SocialLinks from '../components/SocialLinks.astro';
import Gmail from '../components/icons/Gmail.astro';
import Timeline from '../components/Timeline.astro';
import Calendar from '../components/icons/Calendar.astro';
import Computer from '../components/icons/Computer.astro';
import Projects from '../components/Projects.astro';
import About from '../components/icons/About.astro';
---

<Layout title='Portfolio de Alina' description='Desarrolladora y programadora'>
	<main class="px-4">
		<section id="top" class='flex justify-center items-center w-full lg:w-[740px] mx-auto py-[200px] h-[100vh]'>
			<div>
				<h1 class='text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10'>
					Hola, soy Alina. <a href='/public/AlinaBernardez.pdf' download="AlinaBernardezCV.pdf" class='flex justify-center items-center'>
						<Badge>Descargar CV</Badge>
					</a >
				</h1>
				<h2 class='text-xl lg:text-2xl placeholder-opacity-80 text-wrap max-w-[700px]'>
					<span class='text-blue-300'>Full Stack developer,</span> afincada en España.<br>
				Te ecuentras en el sitio idóneo si quieres ver alguno de mis proyectos, contactarme o descargar mi CV.
				</h2>
				<nav class="flex gap-4 mt-10 flex-wrap">
					<SocialLinks href='https://www.linkedin.com/in/alina-bernardez/'>
						<Linkedin  class='size-4 md:size-5' />
						<p class="text-base">LinkedIn</p>
					</SocialLinks>
					<SocialLinks href='https://github.com/AlinaBernardez'>
						<Github  class='size-4 md:size-5' />
						<p class="text-base">Github</p>
					</SocialLinks>
					<SocialLinks href='mailto:bernardezalina@gmail.com'>
						<Gmail  class='size-4 md:size-5' />
						<p class="text-base">Mail</p>
					</SocialLinks>
				</nav>
			</div>
		</section>
		<section id="experience" class='w-full lg:w-[740px] mx-auto pb-20'>
			<h2 class="text-3xl font-semibold mb-6 flex items-center gap-x-3">
				<Calendar />
				Experiencia
			</h2>
			<Timeline />
		</section>
		<section id="about" class='w-full lg:w-[740px] mx-auto py-[200px] h-[100vh]'>
			<h2 class="text-3xl font-semibold mb-6 flex items-center gap-x-3">
				<About />
				About
			</h2>
			<p class="text-xl text-pretty mb-8">
				Mi inquietud me puso en contacto con el mundo de la programación de forma casual, pero en cuanto empecé a estudiar tuve claro que era a lo que me quería dedicar...y lo conseguí.<br>
				Programo con <span class='text-blue-300'>JavaScript</span class='text-blue-300'> principalmente, haciendo uso de diferentes librerías y frameworks, según las exigencias del proyecto.<br>
				Procuro trabajar siempre con código claro, organizado y mantenible.
			</p>
			<p class="text-lg text-pretty">
				Soy una persona a la que le encantan los <span class='text-blue-300'>retos</span> y aprender cosas nuevas todos los días es uno de ellos. Resolver problemas/bugs es una de mis especialidades.
				</p>
		</section>
		<section id="projects" class='w-full lg:w-[740px] mx-auto'>
			<h2 class="text-3xl font-semibold mb-6 flex items-center gap-x-3">
				<Computer />
				Proyectos
			</h2>
			<Projects />
		</section>
		<section id="contact" class='flex justify-center items-center w-full lg:w-[740px] mx-auto py-[200px] h-[100vh]'>
			<div>
				Contact form
			</div>
		</section>
	</main>
</Layout>

