---
import React from '../components/icons/React.astro'

const tags = {
    REACT: {
        name: 'React',
        class: 'bg-black text-white',
        icon: (<React />)
    }
}

const projects = [
    {
        title: 'Project',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
        link: '#',
        github: '#',
        image: 'https://via.placeholder.com/300x200',
        tags: ['HTML', 'CSS', 'JavaScript', tags.REACT]
    },
    {
        title: 'Project',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
        link: '#',
        github: '#',
        image: 'https://via.placeholder.com/300x200',
        tags: ['HTML', 'CSS', 'JavaScript']
    },
    {
        title: 'Project',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
        link: '#',
        github: '#',
        image: 'https://via.placeholder.com/300x200',
        tags: ['HTML', 'CSS', 'JavaScript']
    },
]

---

{projects.map(({ title, description, tags, image }) => (
    <article>
        <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
        <p class="text-lg mb-4 text-pretty">{description}</p>
        <ul>
            {tags.map(tag => (
                <li>{tag}</li>
            ))}
        </ul>
        <img class="rounded shadow-2xl shadow-white/10" src={image} alt="iagen del proyecto"/>
    </article>
))}