---
import TimelineItem from "./TimelineItem.astro"

const experience = [
    {
        date: 'Septiembre 2023 - Actualidad',
        company: 'Hyarks',
        title: 'Full Stack Developer',
        description: 'Desarrollor full stack y diseño de componentes de interfaz del dashboard responsable de conectar y controlar los dispositivos creados por Hyarks. ',
        stack: 'Figma, React, JavaScript, Axios, Node.js, Express, MongoDB',
        link: 'http://www.hyarks.com'
    },
    {
        date: 'Septiembre 2023 - Actualidad',
        company: 'Tiltit',
        title: 'Product Owner',
        description: 'Desarrollo full stack de un app móvil, destinada a realizar tests digitales de inclinación de barcos, conectada vía Bluetooth al hardware de Tiltit.',
        stack: 'Figma, React Native, Expo, JavaScript, Axios, Node.js, Express, MongoDB, Shopify',
        link: 'https://www.linkedin.com/company/tiltit/'
    },
    {
        date: 'Octubre 2023 - Mayo 2024',
        company: 'The Bridge',
        title: 'Web Developer',
        description: 'Curso intensivo de full stack web development (MERN) de 480 horas.',
        stack: 'HTML, CSS, JavaScript, React, Node.js, Axios, Express, Jest, MySQL, MongoDB, Docker',
    },
    {
        date: 'Mayo 2023 - Julio 2023',
        company: 'Moodboard Lady',
        title: 'Wordpress developer',
        description: 'Desarrollo y diseño de una web portfolio. Adquisición y migración de host y dominio.',
        stack: 'Wordpress, Photoshop',
        link: 'https://moodboardlady.com/'
    },
    {
        date: '2021 - 2023',
        company: 'IES Paco Mollá',
        title: 'Módulo Superior DAW',
        description: 'Formación profesional en desarrollo de aplicaciones web en modalidad semi-presencial.',
        stack: '',
    },
    {
        date: '2007 - 2011',
        company: 'Universidad de Alicante',
        title: 'Licenciatura en Publicidad y RR.PP.',
        description: 'Título universitario en Publicidad, Marketing, Diseño gráfico y RR.PP.',
        stack: '',
    }
]
---


<ol class="relative border-s border-gray-200 ml-3">
    <li class="mb-10 ms-4">
        {experience.map(exp => (
            <TimelineItem {...exp} />
        ))}
    </li>
</ol>
